body {
    margin: 0;
    overflow: hidden;
    /* padding: 0;
    border: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; */
    background-color: skyblue;
}

canvas {
    display: block;
    background-color: transparent;
}

section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

figure {
    margin: .5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}

img {
    display: none;
}