/*
A variant of the generic collapse.css I published on
https://gist.github.com/Omega0x013/6b5e642e24433e4a3cc4399eb0839f1f
*/

header>input[type='checkbox'] {
    display: none;
}

header>label:hover {
    color: grey;
}

header>ul {
    display: flex;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

header>ul li {
    margin: 0.1em
}

header>ul li button {
    background: white;
    width: 100%;
    border-radius: 0.5em;
}

/* Most mobile users will be using portrait mode */
@media screen and (orientation: portrait) {
    header>input[type='checkbox']+label+ul {
        max-height: 0vh;
        overflow: hidden;
        flex-flow: column nowrap;
    }

    header>input[type='checkbox']:checked+label+ul {
        max-height: 100vh;
    }
}

/* Most desktop users will be using landscape mode */
@media screen and (orientation: landscape), print {
    header>input[type='checkbox']+label {
        display: none;
    }

    header>input[type='checkbox']+label+ul {
        display: flex;
        flex-flow: row wrap;
    }
}