:root {
    --pet-size: 20em; /* Max size for the pet, may be shrunk */
    --primary: #a0a;
    --secondary: #f70;
}

.primary-tone {
    fill: var(--primary);
}

.secondary-tone {
    fill: var(--secondary);
}

.hidden {
    display: none;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

main > svg, img {
    max-width: var(--pet-size);
    max-height: var(--pet-size);
    stroke: black;
    stroke-width: 0.5;
    fill-rule: initial;
}
